/* body{
	padding-left:10px;
	margin-left: 10px;
} */

/*1st row of code*/

/* .acct-nav{
	border:2px solid orangered;

} */

.acct-nav{
	padding-top:15px;
}

/*URLs class*/
.navbar-brand{
	font-size:44px;
}
.urls{
	float:left;
}

.link{
	float:right;
}

/*2nd row of code*/
.url-box{
	border:2px solid blue;
	padding-top:15px;
	padding-bottom:15px;
	margin:10px;
}


.create-url{
	margin-left:10px;
	padding-top:5px;
	height:55px;
	width:201px;
	background-color:#E12901;
	font-size:26px;
	color:white;
	border-radius:7px;
}
