body{
	background-color: #F5F5F5;
	padding-top:56px;
} 




/*1st row of code*/
.first-title{
	float:left;
	margin-left:57px;
	padding-top:0px;
	font-size:36px;
}

.second-title{
	float:right;
	margin-right:57px;
}

a:hover{
	color:black;
}

.link{
	color:black;
}

/*2nd row of code*/
.url-box{
	border:1px solid #797979;
	padding-top:15px;
	background-color:white;
	padding-bottom:15px;
	margin:46px;
	border-radius:7px;
}

.form-control{
	border:1px solid #797979;
}

/* .hidden{
	display:none;
} */

#create-hit-url{
	margin-left:10px;
	padding-top:5px;
	height:55px;
	width:201px;
	background-color:#E12901;
	font-size:26px;
	color:white;
	border-radius:7px;
}

/*3rd row of code*/
/*table with URLS*/ 
.url-table{
	margin:0px auto;
	float:none;
	border-radius:30px;
	min-width: 60%;
	border:5px solid pink;

}

/*testing table method*/
.round-tbl {
	border-collapse: collapse;
	border-radius:8px;
	
}

thead th,
tbody td {
  border-bottom: 1px solid #cecfd5;
	padding: 10px 15px;
	border-radius:30px !important;
}

/* .container-fluid{
	width:auto !important;
}

table.table-bordered > thead > tr > th{
  border:1px solid #797979 !important;
}

.table-bordered th{
	border:1px solid #797979;
}

table.table-bordered > tbody > tr > td{
	border:1px solid #797979 !important;
} */


/*               
.table-row {
  display: table-row;
}
.table-cell {
	display: table-cell;
	padding-left:101px;
} */